aiohttp
termcolor
bs4
requests
yandex_search
pypdf2
socid_extractor
maigret
aiohttp_socks
search_engines @ https://github.com/soxoj/Search-Engines-Scraper/archive/refs/heads/master.zip
tqdm
google-search-results
mock